Repository conda/ceps: changes, and which pre-commit hooks are due for each by the changed paths.
All: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

.pre-commit-config.yaml:

# disable autofixing PRs, commenting "pre-commit.ci autofix" on a pull request triggers a autofix
ci:
  autofix_prs: false
repos:
  # generic verification and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # standard end of line/end of file cleanup
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
  - repo: meta
    # see https://pre-commit.com/#meta-hooks
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/codespell-project/codespell
    # see setup.cfg
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--write-changes]
  - repo: local
    hooks:
    - id: cep-header
      name: CEP must start with a '# CEP \d - Title' header
      entry: ^# CEP \d+ - .+$
      language: pygrep
      types: [text]
      args: [--negate]
      files: cep-.+\.md
    - id: cep-nodash
      name: CEPs must be referred to with 'CEP N' (no dash)
      entry: CEP-+\d+
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-nozero
      name: CEPs must be referred to with 'CEP N' (no leading zeros)
      entry: CEP[- ]+0+\d+
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-hrefs
      name: Links to CEPs must be relative (no leading slash)
      entry: '\(/cep-\d{4}\.md\)'
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: email-tags
      name: Email addresses must use &lt; and &gt;
      entry: <[^<>\s]+@[^<>\s]+>
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-filenames
      name: CEP filenames must be 'cep-XXXX.md'
      entry: CEP documents must be named '/cep-XXXX.md'
      language: fail
      files: ^.*cep-.*\.md.*$
      exclude: ^cep-\d{4}\.md$

trim
  cep-00??.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Adopt SchemaVer
  cep-0011.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Write CEP about virtual packages
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Add some Windows methods
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

some more
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

add details of glibc, linux and osx
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

pre-commit
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

add discussion, implementation
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

add general paragraph about CONDA_OVERRIDE_*
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Apply suggestions from code review
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

more details about archspec
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

link to existing issue
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Move motivation further up
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Rework `__glibc` specification
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Forbid `CONDA_OVERRIDE_UNIX`
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

format table
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Reword general considerations
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Be stricter with override values and more lenient with fallback values
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

reword __archspec
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

discard generic CPU rules
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Standardize algorithm for directory hashing (#100)
  cep-00??.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

CEP: support for ABI3 packages (#86)
  cep-abi3.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Mint CEP 19 and 20
  cep-0019.md
  cep-0020.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add to readme
  README.md
Due: none

Mint CEP 19 and 20 (#105)
  README.md
  cep-0019.md
  cep-0020.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

update links
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

some more suggestions
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

clarify env var syntax
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Update cep-00??.md
  cep-00??.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

run_exports in sharded repodata
  cep-0016-2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

CEP-0014: permit lists in `context`
  cep-0014.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

update cep
  cep-cache-output.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

repodata-next
  cep-repodata-next.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

run export patching
  cep-0016-2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

improve the CEP
  cep-cache-output.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Require all list elements to have the same type
  cep-0014.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update cep-0016-2.md
  cep-0016-2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Apply Cheng's suggestions
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames
