Repository conda/ceps: changes, and which pre-commit hooks are due for each by the changed paths.
All: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

.pre-commit-config.yaml:

# disable autofixing PRs, commenting "pre-commit.ci autofix" on a pull request triggers a autofix
ci:
  autofix_prs: false
repos:
  # generic verification and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # standard end of line/end of file cleanup
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
  - repo: meta
    # see https://pre-commit.com/#meta-hooks
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/codespell-project/codespell
    # see setup.cfg
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--write-changes]
  # lint markdown
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: [ --fix ]
  - repo: local
    hooks:
    - id: cep-header
      name: CEP must start with a '# CEP \d - Title' header
      entry: ^# CEP (\d{1,4}|XXXX) - .+$
      language: pygrep
      types: [text]
      args: [--negate]
      files: cep-.+\.md
    - id: cep-nodash
      name: CEPs must be referred to with 'CEP N' (no dash)
      entry: CEP-+\d+
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-nozero
      name: CEPs must be referred to with 'CEP N' (no leading zeros)
      entry: CEP[- ]+0+\d+
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-hrefs
      name: Links to CEPs must be relative (no leading slash)
      entry: '\(/cep-\d{4}\.md\)'
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: email-tags
      name: Email addresses must use &lt; and &gt;
      entry: <[^<>\s]+@[^<>\s]+>
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-filenames
      name: CEP filenames must be 'cep-XXXX.md'
      entry: CEP documents must be named '/cep-XXXX.md'
      language: fail
      files: ^.*cep-.*\.md.*$
      exclude: ^cep-(\d{4}|XXXX)\.md$

more pre-commit
  cep-0022.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Reword channel name use in absence of scheme and authority
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

update date
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add to README
  README.md
Due: none

Update cep-XXXX.md
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

clarify subdir
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

[CEP 22] Frozen environments (#99)
  README.md
  cep-0022.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

[CEP 23] Text spec input files (#79)
  README.md
  cep-0023.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Link to line in references
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add restriction about channel names and label names wrt subdirs
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Recommend against subdir ambiguity
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Fix line breaks in channel base URL section
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

draft: rework abstract + definitions + motivation
  cep-sigstore-predicate.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

draft: fill in spec section a bit
  cep-sigstore-predicate.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

add note about __anaconda_core_depends deprecation
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Mint as CEP 24
  cep-0024.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

[CEP 24] Standardize `environment.yml` (#81)
  cep-0024.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

draft: fill in signing/verifying sections
  cep-sigstore-predicate.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

draft: more details on distribution mechanisms
  cep-sigstore-predicate.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

draft: update predicate URL
  cep-sigstore-predicate.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

draft: rework discussion and future work sections
  cep-sigstore-predicate.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Mint as CEP 25
  README.md
  cep-0025.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

[CEP 25] Versioning of Existing conda Standards (#119)
  README.md
  cep-0025.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Mint as CEP 26
  README.md
  cep-0026.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

[CEP 26] Identifying Packages and Channels in the conda Ecosystem (#116)
  README.md
  cep-0026.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add one more check to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Standardize conda environment directory structure
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

pre-commit
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add more about creation and management of conda envs
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update Windows directory structure
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

typos
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add more languages
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add one more check to PR template (#123)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Refer to CEP 20
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add noarch_generic
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add purls
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

classify
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags
