Repository conda/ceps: changes, and which pre-commit hooks are due for each by the changed paths.
All: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

cep-header:
  name: CEP must start with a '# CEP \d - Title' header
  entry: ^# CEP (\d{1,4}|XXXX) - .+$
  language: pygrep
  args:
  - --negate

cep-nodash:
  name: CEPs must be referred to with 'CEP N' (no dash)
  entry: CEP-+\d+
  language: pygrep

cep-nozero:
  name: CEPs must be referred to with 'CEP N' (no leading zeros)
  entry: CEP[- ]+0+\d+
  language: pygrep

cep-hrefs:
  name: Links to CEPs must be relative (no leading slash)
  entry: \(/cep-\d{4}\.md\)
  language: pygrep

email-tags:
  name: Email addresses must use &lt; and &gt;
  entry: <[^<>\s]+@[^<>\s]+>
  language: pygrep

cep-filenames:
  name: CEP filenames must be 'cep-XXXX.md'
  entry: CEP documents must be named '/cep-XXXX.md'
  language: fail

Extend PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

MNT: Extend PR template (#162)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Mint as CEP 39 with some small editorial changes
  cep-0039.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

pre-commit
  cep-0039.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

CEP 39 - A new recipe format (part 3): `jinja` functions in recipes (#71)
  cep-0039.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

rename to variant_priority, and add under `variant` field in recipe
  cep-XXX3.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Mint as CEP 40, add changelog
  cep-0040.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

It's Apr 13th
  cep-0040.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

pre-commit
  cep-0040.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

CEP: Recipe serialization in packages (#74)
  cep-0040.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Make the url field optional
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add CEP for a URL field for package records
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Reference backwards-compatible repodata update CEP
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Mint as CEP 41, add changelog
  cep-0041.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Adjust changelog syntax
  cep-0040.md
  cep-0041.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

CEP 41: The staging output in v1 recipes / rattler-build (#102)
  cep-0040.md
  cep-0041.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Mint as CEP 42, add changelog
  cep-0042.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update README table
  README.md
Due: none

CEP 42: Channel relations in repodata (#155)
  README.md
  cep-0042.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Make specification clearer
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add note about usage
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add Future work section on RFC 3161 TSA
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Tighten prose and drop bold inline list labels
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update cep-XXX1.md
  cep-XXX1.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Update cep-XXX2.md
  cep-XXX2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

remove variant_priority for now
  cep-XXX3.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Some pre-commit fixes
  cep-XXX3.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Some pre-commit fixes
  cep-XXX1.md
  cep-XXX2.md
  cep-XXX3.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Some pre-commit fixes
  cep-XXX2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Some pre-commit fixes
  cep-XXX1.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Apply suggestion from @chenghlee
  cep-XXX1.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Clarify rationale for extras
  cep-XXX2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Path conditions:
  cep-header: any of: cep-.+\.md
  cep-nodash: any of: cep-.+\.md
  cep-nozero: any of: cep-.+\.md
  cep-hrefs: any of: cep-.+\.md
  email-tags: any of: cep-.+\.md
  cep-filenames: any of: ^.*cep-.*\.md.*$, but not: ^cep-(\d{4}|XXXX)\.md$
