Repository conda/ceps: changes, and which pre-commit hooks are due for each by the changed paths.
All: cep-header, email-tags, cep-filenames

cep-header:
  name: CEP must start with a '# CEP \d - Title' header
  entry: ^# CEP \d+ - .+$
  language: pygrep
  args:
  - --negate

email-tags:
  name: Email addresses must use &lt; and &gt;
  entry: <[^<>\s]+@[^<>\s]+>
  language: pygrep

cep-filenames:
  name: CEP filenames must be 'cep-XXXX.md'
  entry: CEP documents must be named '/cep-XXXX.md'
  language: fail

gt
  cep-0002.md
Due: cep-header, email-tags

Some more fixes
  cep-0000.md
  cep-0001.md
  cep-0002.md
  cep-0003.md
  cep-0004.md
Due: cep-header, email-tags

Update README
  README.md
Due: none

codespell
  .codespellrc
  .pre-commit-config.yaml
  README.md
  cep-0000.md
  cep-0011.md
  cep-0013.md
  cep-0014.md
  cep-0016.md
Due: cep-header, email-tags

canonicalize CEP references
  .pre-commit-config.yaml
  cep-0003.md
  cep-0009.md
  cep-0010.md
  cep-0014.md
Due: cep-header, email-tags

force relative links
  .pre-commit-config.yaml
Due: none

Some editorial changes to make it prettier in conda.org and pre-commit hooks to enforce them (#96)
  .codespellrc
  .pre-commit-config.yaml
  README.md
  cep-0000.md
  cep-0001.md
  cep-0002.md
  cep-0003.md
  cep-0004.md
  cep-0006.md
  cep-0008.md
  cep-0009.md
  cep-0010.md
  cep-0011.md
  cep-0012.md
  cep-0013.md
  cep-0014.md
  cep-0015.md
  cep-0016.md
  cep-0017.md
Due: cep-header, email-tags

Minor tweaks for CEP-17. (#94)
  cep-0017.md
Due: cep-header, email-tags

Update schema with menuinst 2.1.x changes
  cep-0011.md
Due: cep-header, email-tags

number the update
  cep-0011.md
Due: cep-header, email-tags

also include future 2.2 updates
  cep-0011.md
Due: cep-header, email-tags

mark quicklaunch as deprecated
  cep-0011.md
Due: cep-header, email-tags

keep package_metadata_version=1
  cep-abi3.md
Due: cep-header, email-tags, cep-filenames

readability
  cep-abi3.md
Due: cep-header, email-tags, cep-filenames

Add CEP for frozen environments
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

add discussion link
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

Standardize algorithm for directory hashing
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

add link to CEP PR
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

add link to og issue
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

normalize line endings in text files
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

simpler sentence
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

do not allow partial updates
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

clarify text/binary
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

clarify sort
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

Update and rename cep-??.md to cep-0018.md
  cep-0018.md
Due: cep-header, email-tags

codespell
  cep-0018.md
Due: cep-header, email-tags

Add CEP to transition to Zulip (#92)
  cep-0018.md
Due: cep-header, email-tags

Update README to include CEP 18
  README.md
Due: none

Update README to include CEP 18 (#101)
  README.md
Due: none

deal with unknown types
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

consistent case for `abi3`
  cep-abi3.md
Due: cep-header, email-tags, cep-filenames

python -> Python in free text
  cep-abi3.md
Due: cep-header, email-tags, cep-filenames

code blocks
  cep-abi3.md
Due: cep-header, email-tags, cep-filenames

some grammarly suggestions
  cep-abi3.md
Due: cep-header, email-tags, cep-filenames

fix link syntax
  cep-abi3.md
Due: cep-header, email-tags, cep-filenames

complete table, recover copyright
  cep-abi3.md
Due: cep-header, email-tags, cep-filenames

add cep for the v1 recipe cache output
  cep-cache-output.md
Due: cep-header, email-tags, cep-filenames

Update cep-abi3.md
  cep-abi3.md
Due: cep-header, email-tags, cep-filenames

update details on error handling
  cep-00??.md
Due: cep-header, email-tags, cep-filenames

Path conditions:
  cep-header: any of: cep-.+\.md
  email-tags: any of: cep-.+\.md
  cep-filenames: any of: ^.*cep-.*\.md.*$, but not: ^cep-\d{4}\.md$
