Repository conda/ceps: changes, and which pre-commit hooks are due for each by the changed paths.
All: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

.pre-commit-config.yaml:

# disable autofixing PRs, commenting "pre-commit.ci autofix" on a pull request triggers a autofix
ci:
  autofix_prs: false
repos:
  # generic verification and formatting
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # standard end of line/end of file cleanup
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
  - repo: meta
    # see https://pre-commit.com/#meta-hooks
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/codespell-project/codespell
    # see setup.cfg
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--write-changes]
  - repo: local
    hooks:
    - id: cep-header
      name: CEP must start with a '# CEP \d - Title' header
      entry: ^# CEP \d+ - .+$
      language: pygrep
      types: [text]
      args: [--negate]
      files: cep-.+\.md
    - id: cep-nodash
      name: CEPs must be referred to with 'CEP N' (no dash)
      entry: CEP-+\d+
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-nozero
      name: CEPs must be referred to with 'CEP N' (no leading zeros)
      entry: CEP[- ]+0+\d+
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-hrefs
      name: Links to CEPs must be relative (no leading slash)
      entry: '\(/cep-\d{4}\.md\)'
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: email-tags
      name: Email addresses must use &lt; and &gt;
      entry: <[^<>\s]+@[^<>\s]+>
      language: pygrep
      types: [text]
      files: cep-.+\.md
    - id: cep-filenames
      name: CEP filenames must be 'cep-XXXX.md'
      entry: CEP documents must be named '/cep-XXXX.md'
      language: fail
      files: ^.*cep-.*\.md.*$
      exclude: ^cep-\d{4}\.md$

add backwards compatibility section
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Apply suggestions from code review
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

fix: codify no number for draft ceps (#117)
  .pre-commit-config.yaml
  README.md
Due: none

MNT: Add PR template (#106)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: clarify the OCI spec in use
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix: clarify optional labels as not truely optional
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix: a few more typos and clarifications
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

typos and clarity
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Apply suggestions from code review
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add length limits
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Clarify schema and add references
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add rationale
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

label -> channel
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Define what a channel is
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Restrict subdirs to alphanumeric and single dash separators
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

revise based on latest discussions
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix spelling
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix: better links
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

add to do
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

more details
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

finish rest of text
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

clean up text some more
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Update cep-9999.md
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

simplify
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

more lints
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

style: lint markdown files
  .pre-commit-config.yaml
Due: none

fix: add config file
  .markdownlint.yaml
Due: none

Add line length rule to markdownlint configuration
  .markdownlint.yaml
Due: none

Add --fix argument to markdownlint-cli2
  .pre-commit-config.yaml
Due: none

fix: more config
  .markdownlint.yaml
  .pre-commit-config.yaml
Due: none

fix: more chars
  .markdownlint.yaml
Due: none

fix: more config for inline html we want
  .markdownlint.yaml
Due: none

Allow plus symbols in build strings
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add `platforms`
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Add `category`
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

add to index too
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

pre-commit
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Refine a bit
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

style: fix style in older CEPs
  README.md
  cep-0001.md
  cep-0003.md
  cep-0004.md
  cep-0006.md
  cep-0008.md
  cep-0010.md
  cep-0011.md
  cep-0012.md
  cep-0013.md
  cep-0014.md
  cep-0015.md
  cep-0016.md
  cep-0017.md
  cep-0019.md
  cep-0020.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags
