Repository conda/ceps: changes, and which pre-commit hooks are due for each by the changed paths.
All: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

cep-header:
  name: CEP must start with a '# CEP \d - Title' header
  entry: ^# CEP (\d{1,4}|XXXX) - .+$
  language: pygrep
  args:
  - --negate

cep-nodash:
  name: CEPs must be referred to with 'CEP N' (no dash)
  entry: CEP-+\d+
  language: pygrep

cep-nozero:
  name: CEPs must be referred to with 'CEP N' (no leading zeros)
  entry: CEP[- ]+0+\d+
  language: pygrep

cep-hrefs:
  name: Links to CEPs must be relative (no leading slash)
  entry: \(/cep-\d{4}\.md\)
  language: pygrep

email-tags:
  name: Email addresses must use &lt; and &gt;
  entry: <[^<>\s]+@[^<>\s]+>
  language: pygrep

cep-filenames:
  name: CEP filenames must be 'cep-XXXX.md'
  entry: CEP documents must be named '/cep-XXXX.md'
  language: fail

Update .github/workflows/bump-lockfile.yml
  .github/workflows/bump-lockfile.yml
Due: none

use pixi-diff-to-markdown from previous pixi.lock
  .github/workflows/bump-lockfile.yml
  pixi.lock
  pixi.toml
Due: none

cep updates
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Address MatchSpec extras review comments
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update cep-XXXX.md
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Address review comments on mobile platform CEP
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add linux-aarch64
  pixi.lock
  pixi.toml
Due: none

Switch to stronger "must" rather than "should", based on feedback
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Fix reference to CEP 26
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

[cep-14] permit dollar schema
  cep-0014.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add discussion link
  cep-0014.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

update with recipe-format main commit with instead of fork
  cep-0014.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Make remote URLs out of scope of wheels CEP
  cep-XXX0.md
  cep-XXX1.md
  cep-XXX2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Update conditional and extras references to approved CEPs
  cep-XXX1.md
  cep-XXX2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Fix missing </tr>
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Apply suggestion from @pavelzw
  .github/workflows/bump-lockfile.yml
Due: none

migrate to pixi-based pre-commit (#184)
  .github/dependabot.yml
  .github/workflows/bump-lockfile.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: none

Apply suggestions from code review
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

CEP 44: clarify `extras` matchspec (#177)
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

CEP 14: permit $schema in v1 recipes (#186)
  cep-0014.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Adjust writing style to match other CEPs
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Minor edits based on reviewer comments
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Fix updated date
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Apply suggestions from code review
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Length-prefix file content in the CEP XXXX hash spec to close a remaining collision gap
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

CEP XXXX: drop line-ending normalization from the hash
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Addressed self-review
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Apply reviewer suggestions
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update to v1.0.1 revision of the PURL spec
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Narrow attestation CEP to distribution protocol
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Require mutable Sigstore discovery endpoint
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add channel-provided virtual package plugin CEP
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Allow reboot-bounded plugin cache TTL
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Flatten attestation hash metadata
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Allow the `download_url` qualifier
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Clarify language in `checksum` specification
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Allow ASCII hyphens in checksum name qualifier
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add cep for the `__amdgpu` and `__amdgpu_arch` virtual packages
  cep-xxxx.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Path conditions:
  cep-header: any of: cep-.+\.md
  cep-nodash: any of: cep-.+\.md
  cep-nozero: any of: cep-.+\.md
  cep-hrefs: any of: cep-.+\.md
  email-tags: any of: cep-.+\.md
  cep-filenames: any of: ^.*cep-.*\.md.*$, but not: ^cep-(\d{4}|XXXX)\.md$
