Repository conda/ceps: changes, and which pre-commit hooks are due for each by the changed paths.
All: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

cep-header:
  name: CEP must start with a '# CEP \d - Title' header
  entry: ^# CEP (\d{1,4}|XXXX) - .+$
  language: pygrep
  args:
  - --negate

cep-nodash:
  name: CEPs must be referred to with 'CEP N' (no dash)
  entry: CEP-+\d+
  language: pygrep

cep-nozero:
  name: CEPs must be referred to with 'CEP N' (no leading zeros)
  entry: CEP[- ]+0+\d+
  language: pygrep

cep-hrefs:
  name: Links to CEPs must be relative (no leading slash)
  entry: \(/cep-\d{4}\.md\)
  language: pygrep

email-tags:
  name: Email addresses must use &lt; and &gt;
  entry: <[^<>\s]+@[^<>\s]+>
  language: pygrep

cep-filenames:
  name: CEP filenames must be 'cep-XXXX.md'
  entry: CEP documents must be named '/cep-XXXX.md'
  language: fail

Update cep-0014.md
  cep-0014.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update README.md
  README.md
Due: none

Update cep-0044.md
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Typos
  cep-0011.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

CEP XXXX: tighten path normalization, sorting, and text/binary handling
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update "Summary of changes from CEP 19" section
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

changelog format
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

changelog goes above copyright
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

prek
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update date
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

here too
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

tie down attestations through repodata attestations key with sha + size
  cep-XXXX.md
  cep-xxxx-serving-attestations.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Rename to cep-XXXX.md and address review feedback
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Tighten spec: security considerations and edge-case semantics
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Spec embedding of verified bundles in the built package
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Initial draft of "Prefix placeholder offsets in `paths.json`"
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Length-prefix file content to close a hash-collision gap; tighten spec wording
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Initial draft of "Prefix replacement at install time"
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Use underscore-separated field names
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add PR link to discussion
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Restructure "offsets" as encoding-tagged groups
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

CEP 44: Use underscore-separated field names (#181)
  cep-0044.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update CEP metadata
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Adding CEP for conda_build_config.yaml.
  cep-xxxx.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Date updates
  cep-xxxx.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Use `extras` instead of `extra`
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update cep-XXXX.md
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Document the endianness ambiguity of multi-encoding replacement
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add CEP: subdirs and virtual packages for iOS and Android
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Soften cross-compilation framing for iOS/Android
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

migrate to pixi-based pre-commit
  .github/dependabot.yml
  .github/workflows/bump-lockfile.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: none

add zizmor as well
  .pre-commit-config.yaml
  pixi.lock
  pixi.toml
Due: none

Apply suggestion from @jaimergp
  .github/workflows/ci.yml
Due: none

Incorporate latest feedback
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Cleanup
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Path conditions:
  cep-header: any of: cep-.+\.md
  cep-nodash: any of: cep-.+\.md
  cep-nozero: any of: cep-.+\.md
  cep-hrefs: any of: cep-.+\.md
  email-tags: any of: cep-.+\.md
  cep-filenames: any of: ^.*cep-.*\.md.*$, but not: ^cep-(\d{4}|XXXX)\.md$
