Repository conda/ceps: changes, and which pre-commit hooks are due for each by the changed paths.
All: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

cep-header:
  name: CEP must start with a '# CEP \d - Title' header
  entry: ^# CEP \d+ - .+$
  language: pygrep
  args:
  - --negate

cep-nodash:
  name: CEPs must be referred to with 'CEP N' (no dash)
  entry: CEP-+\d+
  language: pygrep

cep-nozero:
  name: CEPs must be referred to with 'CEP N' (no leading zeros)
  entry: CEP[- ]+0+\d+
  language: pygrep

cep-hrefs:
  name: Links to CEPs must be relative (no leading slash)
  entry: \(/cep-\d{4}\.md\)
  language: pygrep

email-tags:
  name: Email addresses must use &lt; and &gt;
  entry: <[^<>\s]+@[^<>\s]+>
  language: pygrep

cep-filenames:
  name: CEP filenames must be 'cep-XXXX.md'
  entry: CEP documents must be named '/cep-XXXX.md'
  language: fail

Add riscv32 and sort table
  cep-????.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Update cep-0016-2.md
  cep-0016-2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Add CEP for build provenance metadata
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

ack
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

lint
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Reword for ecosystem wide scope
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Draft another CEP for PURL annotation
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

only lists
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

simpler example
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Update cep-9999.md
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Rework CEP requiredness
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Recommend HTTPS URLs
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

feat: first draft of spec
  cep-OCI.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix: add title
  cep-OCI.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

rename file
  cep-xyzz.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

rename again
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix: misrendered
  cep-xyzz.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix: wrong push
  cep-XXXX.md
  cep-xyzz.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix: centralize compat and typo
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Update cep-XXXX.md
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix: address comments, update encoding
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

feat: get ready for vote, but not yet
  README.md
  cep-0021.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

style: appears linter
  cep-0021.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

add jaime
  cep-0021.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

fix: more comments
  cep-0021.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

style: formatting
  cep-0021.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Standardize names in the conda ecosystem
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add versions and categorise a bit better
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

fix up linter to allow XXXX and adjust text
  .pre-commit-config.yaml
  README.md
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Apply suggestions from code review
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

spelling
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix conda capitalization
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix: codify no number for draft ceps
  .pre-commit-config.yaml
  README.md
Due: none

Update README.md
  README.md
Due: none

Descope versions, fix build strings
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Amend package names
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

do not recommend whitespace in labels
  cep-9999.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Path conditions:
  cep-header: any of: cep-.+\.md
  cep-nodash: any of: cep-.+\.md
  cep-nozero: any of: cep-.+\.md
  cep-hrefs: any of: cep-.+\.md
  email-tags: any of: cep-.+\.md
  cep-filenames: any of: ^.*cep-.*\.md.*$, but not: ^cep-\d{4}\.md$
