Repository conda/ceps: changes, and which pre-commit hooks are due for each by the changed paths.
All: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

cep-header:
  name: CEP must start with a '# CEP \d - Title' header
  entry: ^# CEP (\d{1,4}|XXXX) - .+$
  language: pygrep
  args:
  - --negate

cep-nodash:
  name: CEPs must be referred to with 'CEP N' (no dash)
  entry: CEP-+\d+
  language: pygrep

cep-nozero:
  name: CEPs must be referred to with 'CEP N' (no leading zeros)
  entry: CEP[- ]+0+\d+
  language: pygrep

cep-hrefs:
  name: Links to CEPs must be relative (no leading slash)
  entry: \(/cep-\d{4}\.md\)
  language: pygrep

email-tags:
  name: Email addresses must use &lt; and &gt;
  entry: <[^<>\s]+@[^<>\s]+>
  language: pygrep

cep-filenames:
  name: CEP filenames must be 'cep-XXXX.md'
  entry: CEP documents must be named '/cep-XXXX.md'
  language: fail

Update conditional dependencies CEP
  cep-XXX1.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Update Optional dependency groups
  cep-XXX2.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Update Requires in Simplified variant selection
  cep-XXX3.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Move Rationale _after_ Specification
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Typos
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Extend abstract
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

pre-commit
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Fix lint for link text should be descriptive
  cep-0013.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Autoupdate pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix lint errors for table formatting
  cep-0008.md
  cep-0009.md
  cep-0011.md
  cep-0021.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Replace references to old `cache` key with `staging`
  cep-cache-output.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Fix lint errors with links and table formatting (#156)
  .pre-commit-config.yaml
  cep-0008.md
  cep-0009.md
  cep-0011.md
  cep-0013.md
  cep-0021.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

NEW: Add __cuda_arch to CEP-30
  cep-0030.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Revert changes to CEP-30
  cep-0030.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

NEW: Create CEP for __cuda_arch virtual package
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Drop `migrated_at` and implement generic timestamps and n_packages fields
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add lockfile guidance: only record head channels
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Move indexing tools to future work section
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Allow extra keys in channel_relations for forward compatibility
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Restrict channel references to relative paths only
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Fix markdownlint: add blank line before heading
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

fix
  cep-xxxx-serving-attestations.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

fix pre-commit
  cep-cache-output.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

add missing file
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

fix: pre-commit
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Apply suggestions from code review
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

update cep
  cep-XXX3.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

simplify flags for now
  cep-XXX3.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags, cep-filenames

Require clients to ignore unknown channel_relations keys
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Add recommended config name and default for max resolution depth
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Clarify topological sort ordering preference with DFS reference
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Note path traversal consideration for local file:// channels
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Move ordering semantics from field definitions to resolution section
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Move user-specified channels section before topological sorting
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Clarify lockfile channel fields take priority over relations
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Clarify deduplication merges all edges to single node
  cep-XXXX.md
Due: cep-header, cep-nodash, cep-nozero, cep-hrefs, email-tags

Path conditions:
  cep-header: any of: cep-.+\.md
  cep-nodash: any of: cep-.+\.md
  cep-nozero: any of: cep-.+\.md
  cep-hrefs: any of: cep-.+\.md
  email-tags: any of: cep-.+\.md
  cep-filenames: any of: ^.*cep-.*\.md.*$, but not: ^cep-(\d{4}|XXXX)\.md$
